<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=300009015WS\SQLEXPRESS;Initial Catalog=Automation;Integrated Security=True" providerName=".NET Framework Data Provider for SQL Server"/>
  </connectionStrings>
<appSettings>
  <add key="InstertActionsIntoActionsProceedureName" value="InstertAction"/>
  <add key="CheckForActionProceedureName" value="getActionByActionName"/>
  <add key="ActionTableProceedure_ActionName_ParameterName" value="actionName"/>
  <add key="ActionTableProceedure_RequiredParameters_ParameterName" value="requiredParameters"/>
  <add key="ActionTableProceedure_OptionalParameters_ParameterName" value="optionalParameters"/>
  <add key="ActionTableProceedure_ActionDescription_ParameterName" value="actionDescription"/>
</appSettings>
</configuration>