<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=300009015WS\SQLEXPRESS;Initial Catalog=Automation;Integrated Security=True" providerName=".NET Framework Data Provider for SQL Server"/>
    <add name="SharedServer" providerName=".NET Framework Data Provider for SQL Server" connectionString="Data Source=10.137.242.57;Initial Catalog=TestDB;Integrated Security=True"/>
  </connectionStrings>
<appSettings>
  <add key="getActionByActionName" value="getActionByActionName"/>
  <add key="getActionInformation" value="getActionInformation"/>
  <add key="InstertAction" value="InstertAction"/>
  <add key="UpdateAction" value="UpdateAction"/>
  <add key="DeleteAction" value="DeleteAction"/>

  <add key="Action_Information" value="Action_Information"/>
  <add key="actionName" value="actionName"/>
  <add key="requiredParameters" value="requiredParameters"/>
  <add key="optionalParameters" value="optionalParameters"/>
  <add key="actionDescription" value="actionDescription"/>
</appSettings>
</configuration>