<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="SharedServer" connectionString="" providerName=""/>
  </connectionStrings>
<appSettings>
  <add key="InstertActionsIntoActionsProceedureName" value="InstertActionsIntoActionsTable"/>
  <add key="CheckForActionProceedureName" value="getActionRowsByActionName"/>
  <add key="ActionTableProceedure_ActionName_ParameterName" value="actionName"/>
  <add key="ActionTableProceedure_RequiredParameters_ParameterName" value="requiredParameters"/>
  <add key="ActionTableProceedure_OptionalParameters_ParameterName" value="optionalParameters"/>
  <add key="ActionTableProceedure_ActionDescription_ParameterName" value="actionDescription"/>
</appSettings>
</configuration>