<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="DBMappings"
      type="SqlDataAdapter.Configurations.ColumnMapSection, SqlDataAdapter"
      allowLocation="true"
      allowDefinition="Everywhere"
        />
  </configSections>

  <connectionStrings>
    <add name="AutomationTestDB" providerName=".NET Framework Data Provider for SQL Server" connectionString="Data Source=30001206258WS.na.aarp.int;Initial Catalog=AutomationTestDB;Integrated Security=True"/>
    <add name="DemoDB" providerName=".NET Framework Data Provider for SQL Server" connectionString="Data Source=10.137.242.57;Initial Catalog=KanaCiboodle;Integrated Security=True"/>
    <add name="SharedServer" providerName=".NET Framework Data Provider for SQL Server" connectionString="Data Source=10.137.242.57;Initial Catalog=AARPInternalAutomationFramework_Web;Integrated Security=True"/>
  </connectionStrings>
  
  <appSettings>
    <add key="DefaultConnectionString" value="AutomationTestDB"/>
  </appSettings>

  <DBMappings>
    <columnMappings>
      <add columnName = "ProjectID" parameterName = "projectID"/>
      <add columnName = "ProjectName" parameterName = "projectName"/>

      <add columnName = "TestedApplicationUserId" parameterName = "testedApplicationUserId"/>
      <add columnName = "TestedApplicationUserUserName" parameterName = "testedApplicationUserUserName"/>
      <add columnName = "TestedApplicationUserUserPassword" parameterName = "testedApplicationUserUserPassword"/>
      <add columnName = "TestedApplicationUserUserRoleId" parameterName = "testedApplicationUserUserRoleId"/>
      <add columnName = "TestedApplicationRoleTypeId" parameterName = "testedApplicationRoleTypeId"/>
      <add columnName = "TestedApplicationRoleTypeRoleType" parameterName = "testedApplicationRoleTypeRoleType"/>
      <add columnName = "XPathToXpathParameterId" parameterName = "xpathToXpathParameterId"/>
      <add columnName = "XpathToXpathParameterXpathIdentifierId" parameterName = "xpathToXpathParameterXpathIdentifierId"/>
      <add columnName = "XpathToXpathParameterNodeTypeId" parameterName = "xpathToXpathParameterNodeTypeId"/>
      <add columnName = "XpathToXpathParameterParameterName" parameterName = "xpathToXpathParameterParameterName"/>
      <add columnName = "XpathToXpathParameterParameterValue" parameterName = "xpathToXpathParameterParameterValue"/>
      <add columnName = "XpathIdentifierId" parameterName = "xpathIdentifierId"/>
      <add columnName = "XpathIdentifierElementId" parameterName = "xpathIdentifierElementId"/>
      <add columnName = "XpathIdentifierXpath" parameterName = "xpathIdentifierXpath"/>
      <add columnName = "ElementId" parameterName = "elementId"/>
      <add columnName = "ElementElementName" parameterName = "elementElementName"/>
      <add columnName = "ElementProjectId" parameterName = "elementProjectId"/>
      <add columnName = "ElementScreenId" parameterName = "elementScreenId"/>
      <add columnName = "ElementTestedApplicationRoleTypeId" parameterName = "elementTestedApplicationRoleTypeId"/>
      <add columnName = "CSSIdententfierId" parameterName = "cSSIdententfierId"/>
      <add columnName = "CSSIdententfierElementId" parameterName = "CSSIdententfierElementId"/>
      <add columnName = "CSSIdententfierCSSIdentifier" parameterName = "cSSIdententfierCSSIdentifier"/>
      <add columnName = "NodeTypeId" parameterName = "nodeTypeId"/>
      <add columnName = "NodeTypeNodeType" parameterName = "nodeTypeNodeType"/>
      <add columnName = "StepId" parameterName = "stepId"/>
      <add columnName = "StepKeywordId" parameterName = "stepKeywordId"/>
      <add columnName = "StepActionId" parameterName = "stepActionId"/>
      <add columnName = "StepElementId" parameterName = "stepElementId"/>
      <add columnName = "StepStepDescription" parameterName = "stepStepDescription"/>
      <add columnName = "ElementIdentifierId" parameterName = "elementIdentifierId"/>
      <add columnName = "ElementIdentifierElementId" parameterName = "elementIdentifierElementId"/>
      <add columnName = "ElementIdentifierElementIdentifier" parameterName = "elementIdentifierElementIdentifier"/>
      <add columnName = "KeywordId" parameterName = "keywordId"/>
      <add columnName = "KeywordKeywordName" parameterName = "keywordKeywordName"/>
      <add columnName = "KeywordKeywordScriptName" parameterName = "keywordKeywordScriptName"/>
      <add columnName = "KeywordKeywordScriptName" parameterName = "keywordKeywordScriptName"/>
      <add columnName = "KeywordKeywordDescription" parameterName = "keywordKeywordDescription"/>
      <add columnName = "KeywordProjectId" parameterName = "keywordProjectId"/>
      <add columnName = "KeywordToParameterId" parameterName = "keywordToParameterId"/>
      <add columnName = "KeywordToParameterKeywordId" parameterName = "keywordToParameterKeywordId"/>
      <add columnName = "KeywordToParameterParameterId" parameterName = "keywordToParameterParameterId"/>
      <add columnName = "KeywordToParameterOptional" parameterName = "keywordToParameterOptional"/>
      <add columnName = "TestCaseToStepId" parameterName = "testCaseToStepId"/>
      <add columnName = "TestCaseToStepTestCaseId" parameterName = "testCaseToStepTestCaseId"/>
      <add columnName = "TestCaseToStepStepId" parameterName = "testCaseToStepStepId"/>
      <add columnName = "TestCaseToStepStepNumber" parameterName = "testCaseToStepStepNumber"/>
      <add columnName = "TestCaseToStepStepNegativePath" parameterName = "testCaseToStepStepNegativePath"/>
      <add columnName = "TestCaseToStepPriorityId" parameterName = "testCaseToStepPriorityId"/>
      <add columnName = "TestCaseToStepStepParameters" parameterName = "testCaseToStepStepParameters"/>
      <add columnName = "TestCaseToStepStepPriorityMessage" parameterName = "testCaseToStepStepPriorityMessage"/>
      <add columnName = "ActionId" parameterName = "actionId"/>
      <add columnName = "ActionActionName" parameterName = "actionActionName"/>
      <add columnName = "ActionActionDescription" parameterName = "actionActionDescription"/>
      <add columnName = "WaitId" parameterName = "waitId"/>
      <add columnName = "WaitWaitName" parameterName = "waitWaitName"/>
      <add columnName = "WaitActionId" parameterName = "waitActionId"/>
      <add columnName = "WaitElementId" parameterName = "waitElementId"/>
      <add columnName = "WaitDefaultMSTime" parameterName = "waitDefaultMSTime"/>
      <add columnName = "WaitMSAllowance" parameterName = "waitMSAllowance"/>
      <add columnName = "ProjectId" parameterName = "projectId"/>
      <add columnName = "ProjectName" parameterName = "projectName"/>
      <add columnName = "ProjectUrl" parameterName = "projectUrl"/>
      <add columnName = "ScreenId" parameterName = "screenId"/>
      <add columnName = "ScreenScreenName" parameterName = "screenScreenName"/>
      <add columnName = "ScreenProjectId" parameterName = "screenProjectId"/>
      <add columnName = "ActionsToParameterId" parameterName = "actionsToParameterId"/>
      <add columnName = "ActionsToParameterActionId" parameterName = "actionsToParameterActionId"/>
      <add columnName = "ActionsToParameterParameterId" parameterName = "actionsToParameterParameterId"/>
      <add columnName = "ActionsToParameterOptional" parameterName = "actionsToParameterOptional"/>
      <add columnName = "PriorityId" parameterName = "priorityId"/>
      <add columnName = "PriorityPriorityName" parameterName = "priorityPriorityName"/>
      <add columnName = "PriorityPriorityDescription" parameterName = "priorityPriorityDescription"/>
      <add columnName = "PriorityDescriptionId" parameterName = "priorityDescriptionId"/>
      <add columnName = "PriorityDescriptionParameterName" parameterName = "priorityDescriptionParameterName"/>
      <add columnName = "PriorityDescriptionColumnToTableId" parameterName = "priorityDescriptionColumnToTableId"/>
      <add columnName = "ColumnToTableIDId" parameterName = "columnToTableIDId"/>
      <add columnName = "ColumnToTableIDColumnName" parameterName = "columnToTableIDColumnName"/>
      <add columnName = "ColumnToTableIDTableName" parameterName = "columnToTableIDTableName"/>
      <add columnName = "TestCaseId" parameterName = "testCaseId"/>
      <add columnName = "TestCaseTestCaseName" parameterName = "testCaseTestCaseName"/>
      <add columnName = "TestCaseTestCaseDescription" parameterName = "testCaseTestCaseDescription"/>
      <add columnName = "TestCaseTestTypeId" parameterName = "testCaseTestTypeId"/>
      <add columnName = "TestCaseEnabled" parameterName = "testCaseEnabled"/>
      <add columnName = "SuiteToTestCaseId" parameterName = "suiteToTestCaseId"/>
      <add columnName = "SuiteToTestCaseSuiteId" parameterName = "suiteToTestCaseSuiteId"/>
      <add columnName = "SuiteToTestCaseTestCaseId" parameterName = "suiteToTestCaseTestCaseId"/>
      <add columnName = "SuiteId" parameterName = "suiteId"/>
      <add columnName = "SuiteSuiteName" parameterName = "suiteSuiteName"/>
      <add columnName = "SuiteSuiteDescription" parameterName = "suiteSuiteDescription"/>
      <add columnName = "SuiteProjectId" parameterName = "suiteProjectId"/>
      <add columnName = "TestTypeId" parameterName = "testTypeId"/>
      <add columnName = "TestTypeTestType" parameterName = "testTypeTestType"/>
      <add columnName = "TestTypeTestTypeDescription" parameterName = "testTypeTestTypeDescription"/>

    </columnMappings>
  </DBMappings>
  
</configuration>