<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="DBMappings"
      type="SqlDataAdapter.Configurations.ColumnMapSection, SqlDataAdapter"
      allowLocation="true"
      allowDefinition="Everywhere"
        />
  </configSections>

  <connectionStrings>
    <add name="AutomationTestDB" providerName=".NET Framework Data Provider for SQL Server" connectionString="Data Source=300009015WS\SQLEXPRESS;Initial Catalog=AutomationTestDB;Integrated Security=True"/>
    <add name="DemoDB" providerName=".NET Framework Data Provider for SQL Server" connectionString="Data Source=10.137.242.57;Initial Catalog=KanaCiboodle;Integrated Security=True"/>
    <add name="SharedServer" providerName=".NET Framework Data Provider for SQL Server" connectionString="Data Source=10.137.242.57;Initial Catalog=AARPInternalAutomationFramework_Web;Integrated Security=True"/>
  </connectionStrings>

  <appSettings>
    <add key="DefaultConnectionString" value="AutomationTestDB"/>
  </appSettings>
  <DBMappings>
    <columnMappings>
      <add columnName="" parameterName=""/>
    </columnMappings>
  </DBMappings>
</configuration>