<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DBMappings" type="SqlDataAdapter.Configurations.ColumnMapSection, SqlDataAdapter" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <connectionStrings>
    <add name="" connectionString=""/>
  </connectionStrings>

  <appSettings>
    <add key="DefaultConnectionString" value=""/>
  </appSettings>
  
  <DBMappings>
    <columnMappings>
      <add columnName="" parameterName=""/>
    </columnMappings>
  </DBMappings>
</configuration>