<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="DemoDB" providerName=".NET Framework Data Provider for SQL Server" connectionString="Data Source=10.137.242.57;Initial Catalog=KanaCiboodle;Integrated Security=True"/>
      <add name="SharedServer" providerName=".NET Framework Data Provider for SQL Server" connectionString="Data Source=10.137.242.57;Initial Catalog=AARPInternalAutomationFramework_Web;Integrated Security=True"/>
    </connectionStrings>
  <configSections>
    
  </configSections>
    <appSettings>
      <add key="DefaultConnectionString" value="DemoDB"/>
    </appSettings>

    <columnMap >
      <add ColumnName = "testName" ParameterName = "testName"/>
    </columnMap>
  
  
</configuration>